div{
    height: 80px;
    background-color: blueviolet;
    border: 5px solid yellow;
}

.inline-div{
    display: inline;
}

.inline-block-div{
    display: inline-block;
    width: 120px;
    height: 20px;
}